{% extends 'base.html.twig' %}

{% block title %}Raffle index{% endblock %}

{% block body %}
    <h1>Raffle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>DateTime</th>
                <th>Prize</th>
                <th>PricePerTicket</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for raffle in raffles %}
            <tr>
                <td>{{ raffle.id }}</td>
                <td>{{ raffle.name }}</td>
                <td>{{ raffle.dateTime ? raffle.dateTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ raffle.prize }}</td>
                <td>{{ raffle.pricePerTicket }}</td>
                <td>
                    <a href="{{ path('app_raffle_show', {'id': raffle.id}) }}">show</a>
                    <a href="{{ path('app_raffle_edit', {'id': raffle.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_raffle_new') }}">Create new</a>
{% endblock %}
