{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            {% if app.user.id == user.id  %}
            <tr>
                <th>Password</th>
                <td>{# {{ user.password }} #}*********</td>
            </tr> 
            {% endif %}
            <tr>
                <th>Money</th>
                <td> 
                {{ user.money is null ? 0 : user.money }} {% if app.user.id == user.id  %}
                <form method="POST" action="{{ path('app_user_ingresar', {'id': user.id}) }}">
                    <input type="number" name="moneyInvest" min="1"></input>
                    <button type="submit">Ingresar dinero</button> 
                </form>               
                {% endif %}
                </td>
            </tr>
            <tr>
                <th>TotalProfit</th>
                <td>
                 {{ user.totalProfit is null ? 0 : user.totalProfit }}
    </td>
            </tr>
            <tr>
                <th>Total_invested</th>
                <td>
                  {{ user.totalInvested is null ? 0 : user.totalInvested }}
                 </td>
            </tr>

             <tr>
                <th>Total_spent_in_tickets</th>
                <td>
                 {{ user.total_spent_in_tickets is null ? 0 : user.total_spent_in_tickets }}
                </td>
            </tr>

            <tr>
                <th>Total_wins</th>
                <td>  {{ user.totalwins is null ? 0 : user.totalwins }}</td>
            </tr>
        </tbody>
    </table>
  {% if notifications  %}
           <h3>Notificaciones</h3>
            {% endif %}
    
      {% for notification in notifications %}
            <p style="margin-bottom:0px"> {{notification.text}} ----> <a href="/user/{{notification.id}}/accept">Aceptar</a>  </p>
       
      {%  endfor %}
    <br/>
    <br/>
     {% if pastnotifications  %}
           <h3>Sorteos pasados</h3>
            {% endif %}
    {% for pastnotification in pastnotifications %}
    {#  {{ dump(pastnotification) }} #}
            <p style="margin-bottom:0px">Ganaste {{pastnotification.raffle_notification.prize}} dineros en el sorteo {{pastnotification.raffle_notification.name}}  </p>
       
      {%  endfor %}
      <br/>
    <br/>
    <a href="{{ path('app_main') }}">back to home</a>

    {# <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a> #}

  {#   {{ include('user/_delete_form.html.twig') }} #}
{% endblock %}
